/* =================================== */
/* CSS for control sap.ui.ux3/DataSet  */
/* base theme                          */
/* =================================== */

.sapUiUx3DS {
	color: var(--sapTextColor);
	background-color: @sapUiWhiteBG;
	position: relative;
}

.sapUiUx3DSFilterArea {
	padding-bottom: 1px;
	padding-top: 1px;
}

.noPadding {
	padding: 0;
}

.sapUiUx3DS .sapUiTbCont {
	padding-left: 3px;
}

.sapUiUx3DS .sapUiTbInnerRight .sapUiSearchField {
	margin-right: 3px;
}